---
const { url, frontmatter } = Astro.props.post;
const publishDate = new Intl.DateTimeFormat("en-US", {
  dateStyle: "long",
}).format(new Date(frontmatter.date));
---

<a href={url} class="blog-post flex flex-col gap-1">
  <img
    class="rounded-lg"
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
  />
  <div class="text-sm flex justify-between">
    <div>
      <time>{publishDate}</time>
      <span> • </span>
      <span>{frontmatter.readingTime}</span>
    </div>
    <span class="text-[var(--highlight-color)]"
      >{frontmatter.tags.join(",")}</span
    >
  </div>
  <h4 class="font-semibold text-xl">
    {frontmatter.title}
  </h4>
  <p class="text-md text-justify">{frontmatter.description}</p>
</a>
