---
import { Image } from "astro:assets";

const { url, frontmatter } = Astro.props;
const publishDate = new Intl.DateTimeFormat("en-US", {
  dateStyle: "long",
}).format(new Date(frontmatter.date));
---

<div
  class="post-card p-6 bordered relative flex flex-col gap-1 bg-[var(--bg-secondary-color)]"
>
  <Image
    class="rounded-lg"
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
  />
  <div class="text-sm flex justify-between">
    <div>
      <time>{publishDate}</time>
      <span> • </span>
      <span>{frontmatter.readingTime}</span>
    </div>
    <span class="text-[var(--highlight-color)]"
      >{frontmatter.tags.join(",")}</span
    >
  </div>
  <h4 class="font-semibold text-xl">
    {frontmatter.title}
  </h4>
  <p class="text-md text-justify">{frontmatter.description}</p>
  <a href={url} class="absolute inset-0"></a>
</div>
