---
import githubImage from "../assets/github.svg";
import linkedinImage from "../assets/linkedin.svg";
import stackoverflowImage from "../assets/stackoverflow.svg";
import { Image } from "astro:assets";

const iconClass = "rounded-full border-2 transition-filter duration-300";
---

<ul
  class="social inline-flex justify-center items-center h-full gap-2 not-prose"
>
  <li class="w-6">
    <a href="https://github.com/fgkolf" target="_blank">
      <Image class={iconClass} src={githubImage} alt="github" />
    </a>
  </li>
  <li class="w-6">
    <a
      href="https://www.linkedin.com/in/xenofontas-gkolfinopoulos"
      target="_blank"
    >
      <Image class={iconClass} src={linkedinImage} alt="linkedin" />
    </a>
  </li>
  <li class="w-6">
    <a href="https://stackoverflow.com/users/13168083/fgkolf" target="_blank">
      <Image class={iconClass} src={stackoverflowImage} alt="linkedin" />
    </a>
  </li>
</ul>
