---
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";
import "swiper/css/effect-coverflow";
import Layout from "./Layout.astro";
import Prose from "../components/Prose.astro";

const { frontmatter } = Astro.props;
---

<Layout metaTitle={frontmatter.title}>
  <div class="flex flex-col gap-4 text-center mb-8">
    <h1 class="text-3xl font-bold">
      {frontmatter.title}
    </h1>
    <h2 class="text-xl">{frontmatter.description}</h2>
    <div class="text-[var(--highlight-color)]">
      {frontmatter.tags.join(" • ")}
    </div>
    <div class="swiper w-[500px] max-w-[90vw] max-h-[800px]">
      <div class="swiper-wrapper">
        {
          frontmatter.images.map((image) => (
            <div class="swiper-slide">
              <img class="rounded-lg" src={image.url} alt={image.alt} />
            </div>
          ))
        }
      </div>
      <div class="swiper-button-next max-sm:hidden"></div>
      <div class="swiper-button-prev max-sm:hidden"></div>
      <div class="swiper-pagination"></div>
    </div>

    <Prose>
      <slot />
    </Prose>
  </div>
</Layout>

<script>
  import Swiper from "swiper";
  import { Pagination, Navigation, EffectCoverflow } from "swiper/modules";

  new Swiper(".swiper", {
    modules: [Pagination, Navigation, EffectCoverflow],
    effect: "coverflow",
    pagination: {
      el: ".swiper-pagination",
    },
    rewind: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
